.App-icon {
  width: 12px;
  margin-right: 6px;
  pointer-events: none;
}

.App-loading {
  text-align: center;
}

.App-loading img{
  height: 40vmin;
  pointer-events: none;
}


.App-search {
  text-align: center;
  min-height: 25vh;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  /* display: block; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #23272e;
  position: sticky;
  top: 0;
  z-index: 1;

}

.App-list {
  min-height: 100vh;
  padding: 0 20vw;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
  word-break: break-all;
}

.App-item {
  margin: 24px 0 12px;
}

.App-avatar{
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 10vw;
}

.App-info-bottom {
  position: absolute;
  bottom: 0;
}

.App-list span{
  margin-right: 10px;
  bottom: 0;
  font-size: calc(4px + 1vmin);
}

.App-link {
  color: #61dafb;
}

.App-txt{
  text-align: center;
  padding: 25px;
}